.brand{
    display: flex;
    flex-wrap: wrap;
    
}


.brand_item{
    position: relative;

    width: 50%;
    height: 315px;
    padding: 10px;

    &:nth-child(1){
        position: relative;
        left: -10px;
        & .brand_img{
            position: absolute;
            width: calc(100% - 10px);
        }
    }
    &:nth-child(2){
        height: 250px;
    }
    &:nth-child(3){
        position: relative;
        left: -10px;
        top: 50px;
        & .brand_img{
            position: absolute;
            width: calc(100% - 10px);
        }
    }
    &:nth-child(4){
        position: relative;
        & .brand_img{
            position: absolute;
            top: -70px;
            width: calc(100% - 10px);
        }
    }
    &:nth-child(5){
        position: relative;
        & .brand__margin{
            position: absolute;
            top: 70px;
        }
    }
    &:nth-child(6){
        position: relative;
        & .brand__margin{
            position: absolute;
            top: -50px;
        }
    }
    &:nth-child(7){
        position: relative;
        height: 0;
        & .brand__margin{
            display: flex;
            justify-content: space-between;
            width: 470px;
            position: absolute;
            top: -190px;
            right: -480px;
        }
    }
   
}

.brand_img{
    width: 100%;
    height: 100%;
}


.brand__titel{
    margin-top: 30px;
    margin-bottom: 15px;

    font-family: 'Montserrat_Regular';
    font-size: $fs_16;
    text-transform: uppercase;
    color: $color_AVE;
    font-weight: bold;

    &--mr0{
        margin-top: 0px;
        padding-top: 0;
    }
}

.brand__description{
    margin-bottom: 15px;

    font-family: 'Montserrat_Regular';
    font-size: $fs_12;
    text-transform: uppercase;
    color: $color_footertxt;
    font-weight: bold;
}

.brand__text{
    width: 500px;

    font-family: 'Roboto_Regular';
    font-size: $fs_14;
    color: $color_mapText;
    line-height: 1.2;
}