// COLORS 

$color_black:          #333;
$color_text:           #999;
$color_main:           #00c8c8;
$color_white:          #fff;
$color_whiteDark:      #f8f8f8;
$color_footertxt:      #727272;
$color_headerText:     #222222;
$color_boreder:        #e7e7e7;
$color_search:         #989898;
$color_cuurency:       #575757;
$color_AVE:            #575153;
$color_borderDarck:    #737373;
$color_buttonText:     #454647;
$color_price:          #9a9a9a;
$color_mapText:        #8e8c8c;
$color_form:           #989898;
$color_bgError:        #fcf6f7;
$color_borderError:    #bb5465;
$color_starEpty:       #dfdfde;
$color_star:           #ded3aa;
$colot_ico:            #8c8c8c;

// FONT_SIZE

$fs_8:   8px;
$fs_10:  10px;
$fs_11:  11px;
$fs_12:  12px;
$fs_13:  13px;
$fs_14:  14px;
$fs_16:  16px;
$fs_18:  18px;
$fs_24:  24px;
$fs_28:  28px;
$fs_36:  36px;
$fs_48:  48px;
$fs_72:  72px;
$fs_100: 100px;
$fs_150: 150px;
$fs_200: 200px;
$fs_250: 250px;
$fs_300: 300px;
$fs_360: 360px;
$fs_450: 450px;


// Z-INDEX

$z_100000: 100000;
$z_10000: 10000;
$z_1000: 1000;
$z_100:  100;
$z_10:   10;
$z_1:    1;