@import "reset.scss";
@import "_vars.scss";
@import "blocks/svg.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/nav.scss";
@import "blocks/button.scss";
@import "blocks/slide.scss";
@import "blocks/item.scss";
@import "blocks/sub-nav.scss";
@import "blocks/description.scss";
@import "blocks/intro.scss";
@import "blocks/location.scss";
@import "blocks/map.scss";
@import "blocks/brand.scss";
@import "blocks/register.scss";
@import "blocks/form.scss";
@import "blocks/info.scss";
@import "blocks/card.scss";
@import "blocks/lookBook.scss";


.conteiner{
	position: relative;
    width: 980px;
	height: 100%;

    margin: 0 auto;
    
	&--item{
		width: 90%;
		margin: 0 auto;
	}
	&--h0{
		height: auto;
	}
}

@media (max-width: 1300px){
	.conteiner{
		width: 880px;
	}
}

@media (max-width: 992px){
	.conteiner{
		width: 600px;
	}
}
.noActive{
	display: none;
}

.blank{
	height: 155px;
}

.links{
	color: $color_main;
}

body {
    background-color: $color_white;
	color: $color_white;

    margin: 0;
	
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

@font-face {
	font-family: 'Montserrat_Light';
	src: 
		url('../fonts/montserrat_light.woff2') format('woff2'),
		url('../fonts/montserrat_light.woff') format('woff'),
}

@font-face {
	font-family: 'Montserrat_Regular';
	src:
		url('../fonts/montserrat_regular.woff2') format('woff2'),
		url('../fonts/montserrat_regular.woff') format('woff'),
}

@font-face {
	font-family: 'Proxima_Nova_Light';
	src:
		url('../fonts/proxima_nova_light.woff2') format('woff2'),
		url('../fonts/proxima_nova_light.woff') format('woff'),	
}

@font-face {
	font-family: 'Roboto_Regular';
	src: 
		url('../fonts/roboto_regular.woff2') format('woff2'),
		url('../fonts/roboto_regular.woff') format('woff'),
}

@font-face {
	font-family: 'Proxima_Nova_Bold';
	src: 
		url('../fonts/proxima_nova_bold.woff2') format('woff2'),
		url('../fonts/proxima_nova_bold.woff') format('woff'),
}
