.button{
    position: relative;
    display: inline-block;
    
    padding: 10px;

    border: 2px solid $color_borderDarck;

    background: none;

    font-family: 'Montserrat_Regular', serif;
    font-size: $fs_16;
    font-weight: bold;
    color: $color_buttonText;
    text-transform: uppercase;

    &:hover{
        transition: .3s;

        color: $color_white;
        background-color: $color_main;
        border: 2px solid $color_main;
    }

    &--leter5{
        letter-spacing: 2px;
        font-size: $fs_14;
    }

    &--search{
        position: absolute;
        z-index: $z_10;
        top: 2px;
        right: 10px;

        width: 25px;
        height: 20px;
    
        background: none;
        border: none;
    
        fill: $color_search;

        &:hover{
            background: none;
            border: none;
        }
    }

    &--slideer{
        position: absolute;
        width: 40px;
        height: 55px;
        border: none;
        &:hover{
            border: none;
            fill: $color_white;
        }
    }



    &--nopaddin{
        padding-left: 0px;
        padding-right: 0px;
    }

    &--left{
        top: 45%;
        left: 0;
    }

    &--right{
        top: 45%;
        right: 0;
    }

    &--fs10{
        font-size: $fs_10;
        letter-spacing: 2px;
    }
}



.button--slide{
    position: absolute;
    right: 0;
    bottom: 80px;
    z-index: $z_1000;

    height: 60px;
}

@media(max-width: 1300px){
    .button--slide{
        bottom: 40px;   
    }
}

@media(max-width: 992px){
    .button{
        font-size: $fs_12;   
    }
    .button--slide{
        width: 250px;
        height: 50px;
    }
}
.button__cyrcle{
    position: relative;

    width: 25px;
    height: 25px;

    border-radius: 50%;
    background-color: $color_footertxt;

    cursor: pointer;

    &:hover{
        transition: .3s;
        background-color: $color_main;
    }

    &--mr5{
        margin-right: 5px;
    }

    &--wh30{
        width: 30px;
        height: 30px;
    }
}


.button__nav{
    display: inline-block;
    width: 170px;
    height: 100%;

    background: none;
    font-size: $fs_14;
    text-transform: uppercase;
    font-weight: bold;

    &:hover{
        color: $color_white;
        background: $color_black;
    }
    &.selected{
        color: $color_white;
        background: $color_black;
        margin-right: 0;
    }
}


.button__card{
    position: relative;
    display: inline-block;
    height: 50px;
    
    padding: 10px 25px 10px 45px;
    
    &:first-child{
        margin-right: 10px;
    }

    border: 2px solid $color_borderDarck;

    background: none;

    font-family: 'Montserrat_Regular';
    font-size: $fs_13;
    font-weight: bold;
    color: $color_buttonText;
    text-transform: uppercase;
    letter-spacing: 3px;

    &:hover{
        transition: .3s;

        color: $color_white;
        background-color: $color_black;
        border: 2px solid $color_black;
        fill: $color_white;
    }
}


.basket__button{
    position: absolute;
    top: 12px;
    left: 15px;

    width: 20px;
    height: 20px;
}

.heart__button{
    position: absolute;
    top: 13px;
    left: 15px;

    width: 20px;
    height: 20px;
}


.button--qty{
    position: absolute;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: none;

    border: 1px solid $color_boreder;

    &--button--add{
        top: 0;
        right: 0;
    }
    &--button--remove{
        bottom: 0;
        right: 0;
    }

    &:hover{
        transition: .3s;
        background-color: $color_boreder;
    }

    
    &:last-child{
        border-top: none;
    }
}


.angel--card{
    width: 10px;
    height: 10px;

    margin-left: 7px;
    margin-top: 5px;

    &--rotade{
        transform: rotate(180deg);

    }

}


.buttons__lookbook{
    display: none;

    position: absolute;
    top: 150px;
    left: 85px;

   
    justify-content: space-between;

    width: 55px;
}