.description{
    font-family: 'Montserrat_Regular';
    color: $color_footertxt;
    text-align: center;
    padding: 5px;
}

.description__titel{
    font-size: $fs_12;
    text-transform: uppercase;
    font-weight: bold;
    
    margin-top: 5px;
    margin-bottom: 5px;

}

.description__info{
    font-size: $fs_14;
    font-weight: bold;
    margin-bottom: 5px;
}

.description__basket-bye{
    position: absolute;
    top: 4px;
    left: 4.6px;

    fill: white;

    width: 16.5px;
    height: 16px;
}

.description__heart-folow{
    position: absolute;
    top: 4.5px;
    left: 4.6px;

    fill: white;

    width: 16.5px;
    height: 16px;
}

.description__resize-size{
    position: absolute;
    top: 4.5px;
    left: 4.4px;

    fill: white;

    width: 16.5px;
    height: 16px;
}

.description__button{
    display: flex;

    justify-content: center;
}

.description__buttonInfo{
    display: none;
    position: absolute;
    bottom: 190px;
    left: 100px;

    width: 25px;
    height: 25px;

}
.description__info-link{
    fill: $color_white;


    &:hover{
        transition: .3s;
        fill: $color_main;
    }
}
.description__info{
    width: 100%;
    height: 100%;
}


.description__nav{
    margin-top: 30px;
    margin-bottom: 30px;
    
    height: 50px;

    background-color: $color_whiteDark;
}

.description--card{
    font-size: $fs_13;

    & p{
        margin-bottom: 10px;
    }
}

.description--card__title{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.description--card__text{
    font-size: $fs_14;
}