.form{
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;

    font-family: 'Montserrat_Regular';

    & .form__sing-up{
        width: 45%;
    }
    
    & .form__register{
        width: 45%;
    }
}

.from__input{
    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 30px;
    padding-left: 10px;

    border: 1px solid $color_boreder;

    color: $color_form;
    font-weight: bold;

    &::placeholder{
        color: $color_form;
    }
    
    &.error{
        border: 1px solid $color_borderError;
        background-color: $color_bgError;
    }
}

.form__action{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &:last-child{
        align-items: center;
    }
    &--itemCenter{
        align-items: center;
    }
    &--mr0{
        margin-bottom: 0px;
    }


}



.form__text{
    font-size: $fs_10;
    color: $color_mapText;
    font-weight: bold;

    &--reg{
        text-align: right;
    }
}

.form__check{
    width: 25px;
    height: 25px;

    border: 1px solid $color_boreder;
    border-radius: 0px;

    padding-top: 10px;
}


.form__line{
    border-right: 1px solid $color_boreder;
}


.form__selection{
    margin-top: 10px;
}

.select{
    width: 150px;

    border: 1px solid $color_boreder;
    padding: 8px;
    color: $color_search;
}

.selection__otion{
    

    font-family: 'Montserrat_Light';
    font-weight: bold;
    color: $color_search;
    padding: 10px;
}


.selector__title{
    font-family: 'Montserrat_Regular';
    font-size: $fs_13;
    font-weight: bold;
    text-transform: uppercase;
    color: $color_AVE;
}


.form__qty{
    margin-top: 10px;
    width: 70px;

    position: relative;

    & input{
        color: $color_search;

        text-align: center;

        width: 45px;
        height: 40px;

        border: 1px solid $color_boreder;
        border-right: none;
    }
}