.header__top{
    width: 100%;
    position: fixed;
    z-index: $z_100000;

    width: 100%;
    height: 45px;

    background: #333;

    font-weight: bold;
    font-size: 13px;

    overflow: hidden;

    & .conteiner{
        height: inherit;
    }

}

.wrapper{
    display: flex;
    justify-content: space-between;

    height: inherit;
}

.header__link{
    display: flex;

    align-items: center;
    
    height: inherit;
    text-align: center;
    
    
    color: $color_cuurency;

    &:first-child{
        flex: 1 1 auto;
    }
}

.header__value{ 
    position: relative;

    width: 130px;
    
    text-align: left;
}

.header__sing-up{
    width: 65px;
    height: inherit;
    padding-top: 15px;

    vertical-align: middle;

    &:hover{

        transition: .3s;
        
        background: #00c8c8;
        color: white;
        
        height: inherit;
    
    }
}

.header__sing-in{
    width: 65px;
    height: inherit;
    padding-top: 15px;
    margin-left: 10px;

    vertical-align: middle;

    &:hover{

        height: inherit;

        background: #00c8c8;
        color: white;

        transition: .3s;
    }
}

.header__basket{
    position: relative;

    width: 150px;
    height: inherit;
    padding-top: 15px;
    margin-left: 50px;

    vertical-align: middle;

    background: #00c8c8;
    color: white;
}


.header__imgLogo{
    position: relative;
    z-index: $z_10;
    
    padding-top: 10px;
    width: 200px;
}

.header__bottom{
    width: 100%;
    position: fixed;
    margin-top: 45px;
    z-index: $z_10000;

    height: 110px;
    padding-top: 30px;

    background-color: $color_whiteDark;
}

.header__logo{
    position: absolute;
    left: -15%;
}


.header__search {
    position: absolute;
    top: 0px;
    right: -15%;
    
    z-index: $z_10;
    
    & input{
        position: relative;
        padding-left: 10px;
        width: 120px;
        height: 30px;

        font-family: 'Montserrat_Light';
        font-size: $fs_13;
        

        background-color: $color_whiteDark;
        border: 1px solid $color_boreder;
        border-right: none;
    }    
}

.Search__button{
    position: absolute;
    top: -1.5px;
    right: -40px;

    border: 1px solid $color_boreder;
    border-left: none;
    padding: 2px;

    width: 30px;
    height: 30px;
}

.form__header{
    display: inline-block;
    position: relative;
}

.header__nav{
    display: flex;
    justify-content: end; 

    top: 0px;
    right: 0;
}


@media (max-width: 1500px){

    .header__search {
        right: -20%;

        & input{
            width: 150px;
        }
    }
    
    .header__logo{
        left: -25%;
    }
}


@media (max-width: 1300px){
    .header__logo{
        left: 0;
    }

    .header__search {
        right: -10%;

        & input{
            width: 80px;
        }
    }
}

@media (max-width: 992px){
    .header__bottom{
        padding-top: 15px;
        height: 60px;

    }

    .header__nav{
        display: none;
    }

    .header__search {
        right: 20%;
        
        & input{
            width: 100px;
        }
    }
}