<footer>
    <div class="footer_top">
        <div class="conteiner">
            <div class="footer__links">
                <div class="footer__flex-row-5">
                    <p class="footer__mainTxt">Information</p>
                    <a href="" class="footer__linkTxt">The brand</a>
                    <a href="" class="footer__linkTxt">Local stores</a>
                    <a href="" class="footer__linkTxt">Customer service</a>
                    <a href="" class="footer__linkTxt">Privacy & cookies</a>
                    <a href="" class="footer__linkTxt">Site map</a>
                </div>
                <div class="footer__flex-row-5">
                    <p class="footer__mainTxt">Why buy from us</p>
                    <a href="" class="footer__linkTxt">Shipping & returns</a>
                    <a href="" class="footer__linkTxt">Secure shopping</a>
                    <a href="" class="footer__linkTxt">Testimonials</a>
                    <a href="" class="footer__linkTxt">Award winning</a>
                    <a href="" class="footer__linkTxt">Ethical trading</a>  
                </div>
                <div class="footer__flex-row-5">
                    <p class="footer__mainTxt">Your account</p>
                    <a href="" class="footer__linkTxt">Sign in</a>
                    <a href="" class="footer__linkTxt">Register</a>
                    <a href="" class="footer__linkTxt">View cart</a>
                    <a href="" class="footer__linkTxt">View your lookbook</a>
                    <a href="" class="footer__linkTxt">Track an order</a>
                    <a href="" class="footer__linkTxt">Update information</a>
                </div>
                <div class="footer__flex-row-5">
                    <p class="footer__mainTxt">Lookbook</p>
                    <a href="" class="footer__linkTxt">Latest posts</a>
                    <a href="" class="footer__linkTxt">Men’s lookbook</a>
                    <a href="" class="footer__linkTxt">Women’s lookbook</a>
                    <a href="" class="footer__linkTxt">Lookbooks RSS feed</a>
                    <a href="" class="footer__linkTxt">View your lookbook</a>
                    <a href="" class="footer__linkTxt">Delete your lookbook</a>
                </div>
                <div class="footer__flex-row-5">
                    <p class="footer__mainTxt">contact details</p>
                    <p class="footer__infoTop">Head Office: Avenue Fashion, 180-182 Regent Street, London.</p>
                    <p class="footer__infoBotton">Telephone: 0123-456-789 </p>
                    <p class="footer__infoBotton">Email: support@yourwebsite.com</p>
                </div>
            </div><!--footer__links-->

            <div class="footer__blocks">
                <div class="footer__left balck">
                    <div class="balck__header">award winner</div>
                    <div class="balck__body">fashion awards 2016</div>
                </div>
                <div class="footer__right blue">
                    <a href="#" class="footer__linkIco facebook"><img src="/assets/images/social/facebook-f.svg" alt="FACEBOOK" class="footer__social"></a>
                    <a href="#"  class="footer__linkIco twitter" ><img src="/assets/images/social/twitter.svg" alt="TWITER" class="footer__social"></a>
                    <a href="#"  class="footer__linkIco instagram"><img src="/assets/images/social/instagram.svg" alt="INSTAGRAMM" class="footer__social"></a>
                    <a href="#"  class="footer__linkIco pinterest"><img src="/assets/images/social/pinterest.svg" alt="PINTEREST" class="footer__social"></a>
                </div>
            </div><!--footer__blocks-->
            
        </div> <!--conteiner-->
    </div><!--footer_top-->

    <div class="footer__buttom">
        <div class="conteiner">
            <div class="footer__flex">
                <p>© 2016 Avenue Fashion™</p>
                <p>Design by RobbyDesigns.com</p>
                <p>Dev by Nik_Voi</p>
            </div>
        </div>
    </div>
</footer>
